# Byte-compiled / optimized files
__pycache__/
*.pyc

# Test & cache files
.pytest_cache/
.mypy_cache/
test_output/

# Project-specific output
data/
output/

# Environment
.venv/
.env

# Other
*.zip

# Backup files and directories
* - Copy/
* - Copy (*).py